@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (
  (
      -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%)
    )
    or
    (backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%))
) {
  /* .skill_card {
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    height: fit-content;
    overflow: hidden;
    margin-top: 1rem;
  } */

  .skill_card:before {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

h1 {
}

.isInView > div {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
  display: flex;
}

.isNotInView > div {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.skill_card:nth-child(2) {
  transition-delay: 80ms;
}
.skill_card:nth-child(3) {
  transition-delay: 160ms;
}
.skill_card:nth-child(4) {
  transition-delay: 240ms;
}
.skill_card:nth-child(5) {
  transition-delay: 320ms;
}
.skill_card:nth-child(6) {
  transition-delay: 400ms;
}
.skill_card:nth-child(7) {
  transition-delay: 480ms;
}

/* Scrolling header */

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
  -webkit-font-smoothing: antialiased;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(129, 42, 175, 0.784) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

html {
  scroll-snap-type: y mandatory;
}

@media (min-width: 640px) {
  .scrolling_header {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

/* Remove scrollbar  */

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Background animation */

.lamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  height: 100vh;
  opacity: 0.5;
  width: 100vw;
  min-width: 100vw;
  z-index: 0;
  /* position: fixed; */
  bottom: 0;
  left: 50;
}

.lava {
  -webkit-filter: url("#goo");
  filter: url("#goo");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blob {
  border-radius: 50%;
  background-image: linear-gradient(-206deg, #ff9298 0%, #ff008d 100%);
  /* background-image: linear-gradient(-206deg, #ff9298 0%, #e4008e 100%); */
  position: absolute;
}

.blob.top {
  border-radius: 50%;
  width: 100%;
  height: 4%;
  top: -2%;
  left: 0;
}

.blob.bottom {
  border-radius: 40%;
  width: 100%;
  height: 4.5%;
  bottom: -3%;
  left: 0;
  display: none;
}

@media screen and (min-width: 500px) {
  .blob.bottom {
    display: block;
  }
}

.blob:nth-child(1) {
  width: 200px;
  height: 200px;
  left: 35%;
  bottom: -15%;

  animation: wobble 8s ease-in-out alternate infinite,
    blob-one ease-in-out 36s infinite;
}
.blob:nth-child(2) {
  width: 330px;
  height: 330px;
  right: 24%;
  bottom: -65%;

  animation: wobble 10s ease-in-out alternate infinite,
    blob-two ease-in-out 44s infinite;
}
.blob:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 5%;

  animation: wobble 12s ease-in-out alternate infinite,
    blob-three ease-in-out 32s infinite;
}
.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;

  animation: wobble 16s ease-in-out alternate infinite,
    blob-four ease-in-out 32s infinite;
}
.blob:nth-child(5) {
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 34%;

  animation: wobble 18s ease-in-out alternate infinite,
    blob-five ease-in-out 64s infinite;
}
.blob:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 20%;

  animation: wobble 20s ease-in-out alternate infinite,
    blob-six ease-in-out 24s infinite;
}
.blob:nth-child(7) {
  width: 90px;
  height: 90px;
  bottom: -20%;
  right: 5%;

  animation: wobble 22s ease-in-out alternate infinite,
    blob-seven ease-in-out 64s infinite;
}
@keyframes blob-one {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-600%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-420%);
  }
}

@keyframes blob-three {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-305%);
  }
}
@keyframes blob-four {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-465%);
  }
}
@keyframes blob-five {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}
@keyframes blob-six {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}
@keyframes blob-seven {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-1000%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}
