@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@supports (
  (
      -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%)
    )
    or
    (backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%))
) {
  .skill_card {
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    height: fit-content;
    overflow: hidden;
  }

  .skill_card:before {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.skill_logo {
  position: relative;
  z-index: 2;
  align-self: start;
  margin: 1.2rem;
}

.isInView > div {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
  display: flex;
}

.isNotInView > div {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.skill_card:nth-child(2) {
  transition-delay: 100ms;
}
.skill_card:nth-child(3) {
  transition-delay: 200ms;
}
.skill_card:nth-child(4) {
  transition-delay: 300ms;
}
.skill_card:nth-child(5) {
  transition-delay: 400ms;
}

/* Scrolling header */
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-snap-type: y mandatory;
}

/* Remove scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}
